<h1>Types of Art</h1>

<table class="table table-hover table-responsive">
  <tr>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @art_types.each do |art_type| %>
  <tr>
    <td><%= best_in_place art_type, :type_of_art %></td>
    <td style="width: 45px;"><%= button_to 'Edit', edit_art_type_path(art_type), :method => "get", class: "btn btn-warning btn-mini" %></td>
    <td style="width: 45px;"><%= button_to 'Destroy', art_type, :method => "get", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-mini" %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Art Type', new_art_type_path, :method => "get", class: "btn btn-success" %></td> 
